@font-face {
  font-family: 'TT Lakes';
  src: url('./TTLakes/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TT Lakes', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.page {
  max-width: 430px;
  margin: 0 auto;
}
h1 {
  font-weight: 400;
}